<span th:fragment="approveBooksFragment">
    <div class="mx-3 my-3 mb-5">
<div id="accordion">
     <div th:with="moderationScopes = ${ {'Только непроверенные', 'Только проверенные', 'Все книги'} }" class="mx-3 my-3">
                 <form class="form-inline justify-content-center align-items-center mx-1 my-1" method="POST"
                       th:action="@{/booksModeration}">
               <div th:each="moderationScope : ${moderationScopes}" class="form-check form-check-inline">
                  <input class="form-check-input" th:value="${moderationScope}" id="forApprove" name="selectedScope" type="radio"
                          th:checked="${#strings.equals(selectedScope, moderationScope)}">
                  <label class="form-check-label" for="forApprove">[[${moderationScope}]]</label>
               </div>
                  <button class="btn btn-primary text-center mx-1 my-1" type="submit">Переключить выдачу</button>
            </form>
        </div>
    <div class="mx-3 my-3">
            <form class="form-inline justify-content-center align-items-center mx-1 my-1" method="POST" th:action="@{/moderationSearch}">
                <input class="form-control col-sm-12 col-lg-6 mr-sm-2 mx-1 my-1" type="search" name="searchText" placeholder="Введите текст для поиска..." aria-label="Search">
                <button class="btn btn-primary text-center mx-1 my-1" type="submit">Поиск</button>
                <a class="btn btn-primary text-center mx-1 my-1" href="/booksModeration" type="button">Сброс</a>
            </form>
        </div>
    <th:block th:each="book : ${books}">
         <div class="card mb-1">
        <div class="bg-light">
          <span class="mb-0 col-3">
            <button aria-expanded="false" class="btn btn-link collapsed" data-toggle="collapse"
                    style="white-space: normal"
                    th:aria-controls="'collapse'+${book.id}" th:data-target="'#collapse'+${book.id}">
              <span th:text="${book.getAuthorsAsString()}+ ': '+${book.title}"></span>
            </button>
          </span>
        </div>
        <div class="collapse" data-parent="#accordion"
             th:aria-labelledby="'collapse'+${book.id}" th:id="'collapse'+${book.id}">
          <div class="card-body">
   <form method="POST" th:action="@{/editBook}">
        <div class="form-row justify-content-center align-items-center">
            <input id="bookId" name="id" required="required" th:value="${book.id}" type="hidden">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <small class="form-text text-muted text-center mb-1">Название</small>
                <input class="form-control" name="title" placeholder="Название книги"
                       th:value="${book.title}" type="text">
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <small class="form-text text-muted text-center mb-1">Автор</small>
                <input class="form-control" name="authorsNames"
                       placeholder="Автор книги, если несколько, то через запятую"
                       th:value="${book.getAuthorsAsString()}" type="text">
            </div>
        </div>

        <div class="mt-1 form-row justify-content-center align-items-center">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <small class="form-text text-muted text-center mb-1">Жанр</small>
                <input class="form-control" name="genresList" placeholder="Жанр, если несколько, то через запятую"
                       th:value="${#strings.listJoin(book.genres, ', ')}" type="text">
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <small class="form-text text-muted text-center mb-1">Год</small>
                <input class="form-control" name="year" placeholder="Год выпуска"
                       th:value="${book.year}" type="text">
            </div>
        </div>

        <div class="mt-1 form-row justify-content-center align-items-center">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <small class="form-text text-muted text-center mb-1">Описание</small>
                <textarea class="form-control" name="description" placeholder="Описание" th:inline="text">[[${book.description}]]</textarea>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <small class="form-text text-muted text-center mb-1">Аннотация</small>
                <textarea class="form-control" name="annotation" placeholder="Аннотация" th:inline="text">[[${book.annotation}]]</textarea>
            </div>
        </div>
                                    <div class="form-check text-center">
                                        <input class="checkbox-1x" id="isApproved" name="isApproved"
                                               th:checked="${book.isApproved}"
                                               type="checkbox">
                                        <label class="form-check-label ml-2 mt-2" for="isApproved">
                                            Книга проверена, к публикации готова.
                                        </label>
                                    </div>
        <br>
        <div class="form-row justify-content-center align-items-center">
            <button class="btn btn-primary text-center" type="submit">Сохранить</button>
            <a class="ml-2 btn btn-primary text-center" th:href="'/removeBook?id='+${book.id}">Удалить книгу</a>
        </div>
    </form>
          </div>
        </div>
      </div>
   </th:block>
    </div>
        </div>
</span>
