<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Книги по жанру: ' + ${genre}"></title>
    <style>
        .rating-header {
            margin-top: -10px;
            margin-bottom: 10px;
        }

    </style>

</head>
<body>
<div th:insert="fragments/common"></div>
<div th:insert="fragments/header"></div>
<div th:if="${books}!=null">
    <div th:insert="fragments/booksFragment"></div>
</div>
</body>
<div class="mt-3" th:insert="fragments/footer"></div>
</html>