<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${book.title}]]</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<div th:insert="fragments/common"></div>
<div class="justify-content-center align-items-center container d-flex h-100 mt-5 col-md-6">
    <div class="card-body">
        <h5 class="card-title text-center" th:if="${message} != null" th:text="${message} "></h5>
        <div class="card">
            <div class="card-body">

                <div class="text" th:inline="text"><b>Название: </b>[[${book.title}]]</div>
                <hr>
                <div th:if="${book.authors.size()!=1}">
                    <a th:inline="text"><b>Авторы: </b></a>
                    <th:block th:each="author : ${book.authors}">
                        <a th:href="'/authorBooks?id='+${author.id} + '&author=' + ${author}"
                           th:text="${author}+';'"></a>
                    </th:block>
                </div>
                <div th:each="author: ${book.authors}" th:if="${book.authors.size()==1}">
                    <a th:inline="text"><b>Автор: </b></a>
                    <a th:href="'/authorBooks?id='+${author.id} + '&author=' + ${author}" th:text="${author}"></a>
                </div>
                <hr>
                <div th:if="${book.genres.size()!=1}">
                    <a th:inline="text"><b>Жанры: </b></a>
                    <th:block th:each="genre : ${book.genres}">
                        <a th:href="'/genreBooks?genre='+${genre}"
                           th:text="${genre}+';'"></a>
                    </th:block>                        </div>
                <div th:each="genre: ${book.genres}" th:if="${book.genres.size()==1}">
                    <a th:inline="text"><b>Жанр: </b></a>
                    <a th:href="'/genreBooks?genre='+${genre}"
                       th:text="${genre}"></a>
                </div>
                <hr>
                <div th:text="'Аннотация: ' + ${book.annotation}"></div>
                <hr>
                <div th:text="'Описание: ' + ${book.description}"></div>
                <form class="form-group" method="post" th:action="@{/rateBook}" th:id="${book.id}+'class'"
                      th:if="${login} != null"
                      th:onclick="send([[${book.id}]])">

                    <label class="control-label" for="rating">
                        <input name="selected_rating" required="required" th:id="${book.id}" type="hidden" value="">
                        <input id="bookId" name="bookId" required="required" th:value="${book.id}" type="hidden">
                    </label>
                    <h2 class="bold h6 text-center" style="">

                        <span th:class="'selected-rating'+${book.id}">Вы еще не оценили эту книгу</span>
                    </h2>
                    <div class="text-center">
                        <button class="btnrating btn btn-default btn-md" data-attr="1"
                                th:data-id="${book.id}"
                                th:id="${book.id}+'rating-star-1'" type="submit">
                            <i aria-hidden="true" class="fa fa-star"></i>
                        </button>
                        <button class="btnrating btn btn-default btn-md" data-attr="2"
                                th:data-id="${book.id}"
                                th:id="${book.id}+'rating-star-2'" type="submit">
                            <i aria-hidden="true" class="fa fa-star"></i>
                        </button>
                        <button class="btnrating btn btn-default btn-md" data-attr="3"
                                th:data-id="${book.id}"
                                th:id="${book.id}+'rating-star-3'" type="submit">
                            <i aria-hidden="true" class="fa fa-star"></i>
                        </button>
                        <button class="btnrating btn btn-default btn-md" data-attr="4"
                                th:data-id="${book.id}"
                                th:id="${book.id}+'rating-star-4'" type="submit">
                            <i aria-hidden="true" class="fa fa-star"></i>
                        </button>
                        <button class="btnrating btn btn-default btn-md" data-attr="5"
                                th:data-id="${book.id}"
                                th:id="${book.id}+'rating-star-5'" type="submit">
                            <i aria-hidden="true" class="fa fa-star"></i>
                        </button>
                    </div>
                </form>

            </div>

                <script th:if="${rating} != null" th:inline="javascript">
                    jQuery(document).ready(function ($) {
                        var value = [[${rating.rate}]];
                        var id = [[${book.id}]];

                        var previous_value = $("#" + id).val();

                        $("#" + id).val(value);

                        $(".selected-rating" + id).empty();
                        $(".selected-rating" + id).html("Ваша оценка: " + value + "/5");

                        for (i = 1; i <= value; ++i) {
                            $("#" + id + "rating-star-" + i).toggleClass('btn-warning');
                            $("#" + id + "rating-star-" + i).toggleClass('btn-default');
                        }

                        for (ix = 1; ix <= previous_value; ++ix) {
                            $("#" + id + "rating-star-" + ix).toggleClass('btn-warning');
                            $("#" + id + "rating-star-" + ix).toggleClass('btn-default');
                        }
                    });

                </script>

        </div>
    </div>
</div>

<script th:inline="javascript">
    jQuery(document).ready(function ($) {
        $(".btnrating").on('click', (function setRating() {

            var selected_value = $(this).attr("data-attr");
            var selected_id = $(this).attr("data-id");
            var previous_value = $("#" + selected_id).val();

            $("#" + selected_id).val(selected_value);

            $(".selected-rating" + selected_id).empty();
            $(".selected-rating" + selected_id).html("Ваша оценка: " + selected_value + "/5");

            for (i = 1; i <= selected_value; ++i) {
                $("#" + selected_id + "rating-star-" + i).toggleClass('btn-warning');
                $("#" + selected_id + "rating-star-" + i).toggleClass('btn-default');
            }

            for (ix = 1; ix <= previous_value; ++ix) {
                $("#" + selected_id + "rating-star-" + ix).toggleClass('btn-warning');
                $("#" + selected_id + "rating-star-" + ix).toggleClass('btn-default');
            }
        }));
    });

    function send(id) {
        let form = document.getElementById(id + "class");
        form.onsubmit = function (e) {
            e.preventDefault();
            fetch(form.action, {
                method: "post",
                body: new FormData(form)
            }).then(response => {
                return true;
            });
        }
    }


</script>
<div th:insert="fragments/footer"></div>

</body>
</html>